<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock%}</title>
	</head>
	<body>
		<header>Sports Gear Catalog</header>
		{% if login_session.get('email') != None %}			
			<a href="{{url_for('disconnect')}}">Logout</a>
		{% else %}
			<a href="{{url_for('login')}}">Login</a>
		{% endif %}
		<a href="{{url_for('showCategory')}}">Home</a>
		<a href="{{url_for('createItem')}}">New Item</a><br>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class=flashes>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		<div id="content">{% block content %}{% endblock %}</div>
	</body>
</html> 
